<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=525188320996791";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-page" 
	data-href="https://www.facebook.com/facebook" 	
	data-small-header="false"
	data-adapt-container-width="true"
	data-hide-cover="false"
	data-show-facepile="true">
	<div class="fb-xfbml-parse-ignore">
		<blockquote cite="https://www.facebook.com/facebook">
			<a href="https://www.facebook.com/facebook">Facebook</a>
		</blockquote>
	</div>
</div>
